<div class="igMain">
  <h1>IG抽獎</h1>

  <h2>地點</h2>
  <p>第一、二演講廳</p>
  <hr>
  <h2>日期</h2>
  <p>2021/03/02-2021/03/31</p>
  <hr>
  <h2>活動辦法</h2>
  <p>
  1.「分享」當週說明會場次貼文並標註兩位朋友<br>
  2. 24 小時後，截圖典藏限時<br>
  3.填寫報名表單並上傳截圖<br>
  4.依報名時段參加說明會，將於每場說明會結束後抽出獎品<br>
  </p>
  <hr>
  <h2>注意事項</h2>
  <p>
  1. 抽獎人參與時即視其同意，如因步驟不正確或未依照本活動辦法參加抽獎程序等事由，
    導致無法參加活動或失去抽獎或贈獎資格之情況，由抽獎人自行負責，恕不另行通知。<br>
  2. 抽獎人或得獎人若有違反本活動辦法及法令，或以不正當、詐欺或舞弊之行為參加本活 動，主辦單位有權取消其抽獎或得獎資格。對於前述行為或其他足以傷及本活動或校譽
    之個人，主辦單位將追究其法律責任。<br>
  3. 抽獎人同意接受主辦單位之隱私權保護政策，並同意主辦單位為辦理本活動處理、利用
    抽獎人所提供之個人資料。<br>
  4. 主辦單位保留變更、修改或終止本活動之權利，並保留對得獎資格之審核及本活動辦法
  相關規範之最終決定權利，任何變更均自活動網站公佈時起即時生效;主辦單位並有權
    就本活動所有事宜進行審查並做出解釋，任何人均不得異議。<br>
  5. 限得獎本人領獎，不可代領，得獎人於說明會當日須攜帶學生證或得以證明在學或於本
    校在職之文件兌獎，若有缺漏或因任何原因不在講廳內，獲獎資格恕不予以保留，獎項
    將遞補予下一位中獎人。<br>
  </p>
</div>
