hr {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(232, 230, 227, 0);
  font-family: "Lato", "PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;
  line-height: 1.6;
  color: rgb(201, 196, 189);
  font-size: 18px;
  word-wrap: break-word;
  height: 0;
  box-sizing: content-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-top-color: rgb(53, 57, 59);
}

p {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(232, 230, 227, 0);
  font-family: "Lato", "PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;
  color: rgb(201, 196, 189);
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 26px;
}

.expoMain {
  margin: 0px auto;
	text-align: center;
  width: 100%;
}

.expoMain div {
  margin: auto;
  margin-top: 0px;
  vertical-align: middle;
}

.info {
  padding: 16px;
  width: auto;
  text-align: left;
}

.expoContent {
  width: 90%;
}

table {
  background-color: rgba(56, 63, 81, 1);
  width: 100%;
  text-align: center !important;
}

table th, td {
  text-align: center;
  /* color: black; */
}

.expoTable th, td{
  border: 1px solid rgba(171, 159, 157, 1);
  padding: 0 !important;
  text-align: center;
  vertical-align: middle!important;
}

.showTime {
  white-space: pre;
}

@media only screen and (max-width:900px){
  .expoMain {
    padding: 16px;
  }
}
