mat-toolbar {
  background-color: rgba(0,0,0,0);
  /* border-radius: 10px; */
}

mat-toolbar a{
  height: 80%;
  width: 100%;
  display: inline-flex;
  align-items: center;
}

mat-toolbar a img{
  height: 100%;
}

app-menu {
  display: inline-block;
  float: right;
  right: 0;
  position: absolute;
}

mat-sidenav {
  background: #fffbd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #b20a2c, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg, rgba(178,10,44,0.8), rgba(220,150,90)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 16px;
  width: 200px;
  border-right: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.mat-sidenav-container::-webkit-scrollbar {
    display: none;
}

.content {
  height: auto;
  /* width: 100%; */
  min-height: calc(100vh - 98px);
  margin: 16px;
  /* margin-left: 32px; */
  padding: 32px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 2rem;
  color: lightgray;
  border-radius: 10px;
}

mat-sidenav-container {
  background-color: rgba(0,0,0,0);
  height: calc(100vh - 65px);
  font-family: Helvetica;
}

mat-sidenav-content{
  border: 5px white;
  border-radius: 10px;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.menu-button mat-icon {
  margin-right: 8px;
}

a {
  text-decoration: none;
  color: inherit;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(0, 0, 0, 0.5);
}

app-seminar {
  width: 150%;
}

@media only screen and (max-width:900px){
  .content{
    padding: 0;
  }
}

@media only screen and (max-width:425px){
  mat-toolbar a span {
    font-size: 80%;
  }
  mat-toolbar a img{
    height: 80%;
  }
}

@media only screen and (max-width:350px){
  mat-toolbar a span {
    font-size: 60%;
  }
  mat-toolbar a img{
    height: 60%;
  }
}
@media only screen and (max-width:275px){
  mat-toolbar a span {
    font-size: 40%;
  }
  mat-toolbar a img{
    height: 40%;
  }
}

@media only screen and (max-width:200px){
  mat-toolbar a span {
    font-size: 30%;
  }
  mat-toolbar a img{
    height: 30%;
  }
}
