<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  <a routerLink='/home'>
  <img src="assets/image/logo.png" alt="logo">
  <span>2022國立臺灣海洋大學校園徵才月</span>
  </a>
  <app-menu *ngIf="TopMenuOn"></app-menu>
</mat-toolbar>

<mat-sidenav-container autosize="true">
  <mat-sidenav #sidenav="matSidenav">
    <button mat-button class="menu-button" routerLink='/home' (click)="clickSidenavMenu();">
      <mat-icon>home</mat-icon>
      <span>首頁</span>
    </button>
    <button mat-button class="menu-button" routerLink='/expo' (click)="clickSidenavMenu();">
      <mat-icon>groups</mat-icon>
      <span>徵才博覽會</span>
    </button>
    <button mat-button class="menu-button" routerLink="/seminar" (click)="clickSidenavMenu();">
      <mat-icon>contacts</mat-icon>
      <span>徵才說明會</span>
    </button>


    <button mat-button class="menu-button" [matMenuTriggerFor]="ActivityMenu">
      <mat-icon>local_activity</mat-icon>
      <span>徵才月活動</span>
    </button>
    <mat-menu #ActivityMenu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="/ig" (click)="clickSidenavMenu();">IG抽獎</button>
      <button mat-menu-item routerLink="/souvenir" (click)="clickSidenavMenu();">紀念品兌換</button>
    </mat-menu>
    <button mat-button class="menu-button" [matMenuTriggerFor]="preMenu">
      <mat-icon>remove_red_eye</mat-icon>
      <span>歷屆活動</span>
    </button>
    <mat-menu #preMenu="matMenu" xPosition="before">
      <a href="http://ntoudoiac20190319.mystrikingly.com/" target="_blank"><button mat-menu-item>2019</button></a>
      <a href="https://doiac.github.io/2020/" target="_blank"><button mat-menu-item>2020</button></a>
      <a href="https://doiac.github.io/2021/" target="_blank"><button mat-menu-item>2021</button></a>
    </mat-menu>
    <a href="https://academic.ntou.edu.tw/p/412-1005-3051.php?Lang=zh-tw" target="_blank">
      <button mat-button class="menu-button">
        <mat-icon>info</mat-icon>
        <span>關於我們</span>
      </button>
    </a>
    <!-- <mat-divider></mat-divider> -->
    <!-- <button mat-button class="menu-button" (click)="negativePage('./about')">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content" [ngClass]="[contentShadow]">
      <router-outlet></router-outlet>
    </div>
    <app-footer [ngClass]="[footerShadow]"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
