<div class="svMain">
  <h1>紀念品兌換規則</h1>

  <h2>領取集點卡</h2>
  <p>
    說明會入場時間會有工作人員於入口處發放。
  </p>
  <hr>
  <h2>累積點數</h2>
  <p>
    說明會退場時，持集點卡給予門口工作人員蓋章，並妥善保存集點卡。
  </p>
  <hr>
  <h2>集點範圍</h2>
  <p>
    (1.) 同學持集點卡至徵才月每場說明會皆可累積1點，部分場次會有Bonus可得2點<br>
    (2.) 下周Bonus名單於每周五更新。(<mat-icon class="notifications">notifications</mat-icon>部分場次會有驚喜)
  </p>
  <hr>
  <h2>點數使用及兌換注意事項</h2>
  <p>
    (1.) 兌換時間為每場說明會後。<br>
    (2.) 同學兌換需出示集點卡及學生證，交由工作人員標記。<br>
    (3.) 點數不可多張合併使用。<br>
    (4.) 紀念品一經兌換，無法要求更換。<br>
    (5.) 請於紀念品兌換時檢查確認無誤後再行離開，如兌換完成離開後發現有誤主辦單位不予處理。<br>
    (6.) 顏色可通用，點數不可重複兌換。<br>
  </p>
  <hr>
  <h2>點數有效期限</h2>
  <p>中華民國111年03月02日至03月30日</p>
</div>
