/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";
html {
  height: -webkit-fill-available;
}

html, body {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4286f4, #373B44) fixed;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4286f4, #373B44) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
