hr {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: "Lato", "PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;
  line-height: 1.6;
  color: #303233;
  font-size: 18px;
  word-wrap: break-word;
  height: 0;
  box-sizing: content-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

p {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(232, 230, 227, 0);
  font-family: "Lato", "PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;
  color: rgb(201, 196, 189);
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 26px;
}


.homeMain {
  margin: 0px auto;
	text-align: center;
  width:100%;
}

/* .homeMain div{
  display: inline-flex;
	vertical-align: top;
  align-items: flex-start;
	height: auto;
} */

.announcement {
  /* display: inline-flex;
	vertical-align: top;
  align-items: flex-start; */
  margin: auto;
	height: auto;
  font-size: 1.6rem;
  padding-top: 16px;
  width: 90%;
  text-align: center;
  /* flex-wrap: wrap; */
}

.img-container {
  /* display: inline-flex;
	vertical-align: top;
  align-items: flex-start; */
  margin: auto;
	height: auto;
  width: 90%;
}

img {
  /* height: calc(100vh - 98px); */
  margin: auto;
  display: block;
  border-radius: 10px;
  width: 100%;
}

.anic {
  color: yellow;
  /* display:inline-flex;
  align-items: center;
  vertical-align: bottom; */
}

.announcementContent {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  /* height: 50px; */
  /* border: 2px solid black; */
}


@media only screen and (max-width:900px){
  .img-container {
    margin: 0px auto;
    width: 100%;
  }
}
