<div class="homeMain">
  <div class="img-container">
    <img src="assets/image/topic.png" alt="se">
  </div>
  <div class="homeContent">
    <div class="announcement">
      <mat-icon class="anic">campaign</mat-icon>
      <h1 class="announcementTitle">&ensp;公告</h1>
      <hr>
      <div class="announcementContent">
          <p>
            <a routerLink='/souvenir'>2022.03.04 【紀念品】說明會部分場次Bonus點數取消</a><br>
            <a routerLink='/expo'>2022.02.28 【抽獎】公告薪光三月抽獎辦法、品項與時間</a><br>
            <a routerLink='/souvenir'>2022.02.21 【紀念品】紀念品兌換規則、品項與點數更改</a>
          </p>
      </div>
    </div>
    <div class="guide">
      <h1 class="activityTitle">系列活動</h1>
      <hr>
      <div class="sbs">
        <div class="img-intro">
          <img src="assets/image/se.png" alt="se">
        </div>
        <div class="guideContent">
          <p>
            <a routerLink='/expo'>徵才博覽會參展廠商</a><br>
            <a routerLink='/seminar'>徵才說明會參展廠商</a><br>
            <a routerLink='/ig'>IG抽獎規則</a><br>
            <a routerLink='/souvenir'>紀念品兌換規則</a><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
